[submodule "assets"]
	path = assets
	url = https://github.com/RootlessGrass/taichi_assets
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw
[submodule "projects/mpm"]
	path = projects/mpm
	url = git@github.com:RootlessGrass/taichi_mpm.git
	branch=develop
